.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.details-container {
  background: #fff; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 80%; 
  position: relative;

  .capsule-title {
    display: block;
    font-size: 2rem;
    font-weight: 600;
  }
  .capsule-description {
    display: inline-block;
    font-weight: 400;
  }
}
.close-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333; 
}
